/*Body*/
body {
  width: 100%;
  max-height: 100vh;
  user-select: none;
  }

/*Header*/
header {
  padding:0px;
  margin: 0;
  height: 8vh;
  background-position: center;
  background-size: cover;
  position: relative;
  background-position-y: -150px;}

header .menu{
  overflow: hidden;
  max-height: 50px;
  line-height: 1.1;
  font-size: 14px;
  font-weight: 600;
  left: 20%;
}

.nav{
  background-color:#9b030a;
  padding:0px;
  margin-left: 0px;
  margin-right:0px;
  height: 50px;}
  
.nav .menu a{
  text-decoration: none;
  background: #6271b3;
  display: block;
  color:#f7f3f0;
  padding: 0 25px;
  margin: 0;}

.nav .menu .c-1{
  border-radius:25px 0px 0px;
  border: 1px solid #979cb3;
}
.nav .menu .c-2{
  border-radius: 0;
  border-top:1px solid #979cb3;
  border-bottom:1px solid #979cb3;
}
.nav .menu .c-3{
  border-radius: 0px 0px 25px;
  border: 1px solid #979cb3;
}
.nav .menu a:hover{
  background: #979cb3;
}


.contenedor-enlace img{
    border-radius: 100%;
}

.logo{
  font-family: 'Fontdiner Swanky',sans-serif;
  font-size: 32px;
  
}

.logo img{
  height: 80px;
  width: 130px;
}
.logo a{
  text-decoration: none;
  color:#f7f3f0;
}

.row-icons{
    
    padding: 0px;
    margin: 0px;
    width: 100%;
    
}
.col-icons{
    padding: 0px;
    width: 85%;
    
}
.icons{
  min-height: 10px;
  overflow: hidden;
  font-family:  'Oswald', sans-serif;
  font-size: 13px;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
  left:30%;
  
}

.icons a{
  text-decoration: none;
  display: block;
  color: antiquewhite;
  padding: 0px;
  width: 100%;
  margin: 0;
}
/*responsive header*/

@media screen and (max-width:768px){

  /*-- Contenedor principal del Header--*/

  header{
      background: none;
      padding: 0;
      margin-bottom: 2px;
      height: 50px;
  }
  
  header .container{
      padding: 0;
  }

  header .container .menu-oculto{
      width: 100%;
      
      margin: 0;
      padding: 0;
      margin-bottom: 1px;
  }
  
  header .nav {
 
      height: 100vh;
      position: fixed;
      background: rgb(0,0,0,.85);
      z-index: 100;
      width: 75%;
      margin:0;
      padding: 0;
      justify-content: start;
      align-content: start;
      transform: translateX(-100%);
      transition: all .3s ease;
      overflow: auto;
      left: 0;
      top: 0;
      
  }

  header  .nav.active{
      transform: translateX(0%);
  }

  header .nav .mini-menu{
      border-bottom: none;
  }

  header   .icons{
      font-family:  'Oswald', sans-serif;
      font-size: 14px;
      font-weight: 400;
      left: 0;
      
  }

  

  header .mini-menu a{
      text-decoration: none;
  }

  header  .nav .mini-menu a{
      padding: 20px;
      color:#fff;
  }
  
  /*-- Final de contenedor principal del Header--*/
  
  /*-- Barra de navegación--*/
  
  header .btn-menu{
      display: block;
      border: 1px solid #9b030a;
      padding: 0px 10px;
      font-size:30px;
      background: linear-gradient(to bottom,#9b030a 100%,#d30913 0%);
      height: 50px;
      line-height: 50px;
      border-radius:3px;
      cursor: pointer;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
      max-height: 50px;
     width: 100%;
     position: fixed;
      top: 0;
      left: 0;
      z-index: 15;

  }

  

  header .btn-menu a{
     color:#ffffff;
     height: 100%;
      margin: 0;
     padding: 0px 10px;
  }
  

  .btn-menu a{
      font-size: 25px;
  }
   
  
  header .btn-menu  a:hover {
      background: #c0040e;
      text-decoration: none;
  }
  
  .menu a{
  text-decoration: none;
  display: block;
  color:#ffffff;
  padding: 0 30px;
  margin: 0;
  background: none;
  border: 0;
  height: 80px;
      
  
  }

  header .menu{
      left: 0;
     min-height: 240px;
  }

  .menu .c-1{
      border-radius:0;
      border: 0;


  }
  
  .menu .c-2{
      border-radius: 0;
      border: 0;

  }
  .menu .c-3{
      border-radius: 0;
      border: 0;

  }

  
  /*-- Fin de la Barra de navegación--*/

  .nav a:hover{
      color: #3d3c3c;
      background: #fff;
      border-left: 4px solid #9b030a;

  }
  

      /*--Ubicación de los componentes en el orden deseado--*/
      
      .mini-menu:nth-child(2){order:1;} /* Buscador*/
      .mini-menu:nth-child(3){order:3;}/*Registrate*/
      .mini-menu:nth-child(4){order:4;}
      .mini-menu:nth-child(5){order:2;}
      .mini-menu:nth-child(6){order:5;}

      /*--Fin Ubicación de los componentes en el orden deseado--*/



  /*-- Fin Componentes de la Barra de navegación --*/


  /*-Modificacion nueva ojo!!-*/

  header .fondo-enlace{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      cursor: pointer;
      background: rgb(0,0,0,.5);
      z-index:99;
      display: none;
  }

  header .fondo-enlace.active{
      display: block;
  }  


  .mini-menu{
      padding: 0;
  }
  header .buscar-1 form input[type="text"]{
      width: 100%;
      background: #ffffff;
      border: none;
      font-size: 14px;
      padding:0 10px;
      height: 50px;
      line-height: 50px;
      font-family:'oswald', sans-serif;
      margin: 0;
  }
  header .buscar-1 form button{
      
      background: #ffffff;
      border: none;
      width: 100%;
      padding: 0 10px;
      height: 50px;
      line-height: 50px;
      cursor:pointer;
      color:#6d6d6d;
      
  }

  header .buscar-1 form button:hover{
      background : rgb(255,255,255,.9);
  }
}
/*Main*/
main{
  padding: 0; 
  margin: 0; 
  height: 92vh; 
  overflow: hidden;  
  width: 100%;
  background-image:linear-gradient(to bottom,rgb(255,255,255,.88) 0%,rgb(255,255,255,.88)),url('../img/fondo-body.jpg');
    
}

main .contenedor{padding: 0; margin: 0;   }
main .contenedor .row-c{ width: 100%; padding: 0; margin: 0;}

/*Menu-opciones Administrador
*/
main .menu{
  padding: 80px 10px 0 10px ; 
  margin: 0; 
  position: relative; 
  display: inline-block; 
  height: 92vh;
  overflow:auto;}

 .list, .submenu {
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  color: wheat;}

 .list .op2, .op3{
  background:  rgb(150, 3, 10,.6);}

.list .item input[type="radio"]:checked ~ label.label_opcion2, input[type="radio"]:checked ~ label.label_opcion3{
  color: white;
  border-right: solid 7px #979cb3;
  background-color: rgb(150, 3, 10,.6); }  

.list .item input[type="radio"] {display: none; }

 .list .item input[type="radio"] ~ label {
  display: block;
  height: 60px;
  padding: 2px 5px;
  text-align: initial;
  justify-content: center;
  font-size: 25px;
  align-items: center;
  line-height: 60px;
  box-shadow: 0 6px 1px #ffc4c7, 0 8px 2px #ffff;}

.list  .item input[type="radio"] ~ label:first-letter { text-transform: uppercase;}

 .list .item input[type="radio"] ~ label:hover {
  background-color: rgb(150, 3, 10,.5);
  cursor: pointer;}

  .list  li:hover  .submenu{
    display: block;
    max-height: 200px;
  }

  .submenu input[type="radio"] ~ label{
    background-color: rgba(241, 169, 173, 0.5);
  }
  
  
  .submenu input[type="radio"] ~ label:hover {
    background-color: rgba(136, 33, 38, 0.5);
  }
  
  .submenu {
    overflow: hidden;
    max-height: 0;
    transition: all .5s ease;
    
  }
.submenu .item-sub input[type="radio"] ~ label  {
  text-align: center;
}
  

  /*-CONTENIDO */
  
main .contenido{ 
  margin: 0;  
  width:100%; 
  padding: 0;
  height: 92vh;
  padding: 2vh;
  overflow: auto; }

 

/*opcion 1 Bienvenida*/
#content_opcion1{
  background: url("http://www.gastronosfera.com/sites/default/files/styles/cabecera_contenido/public/field/image/foodporn-slide.jpg?itok=CC5OVzBi") no-repeat ;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0 ;
  margin: 0;
  border-radius: 10px;}

#content_opcion1 .bienvenida{
  justify-content: center;
  align-items: center;
  text-align: end;
  font-family: 'Alex Brush', cursive;
  font-size: 100px;
  padding: 50px ;
  margin: 0;}

/*Opcion2 contenido*/
#content_opcion2{ 
  padding: 0 ; 
  padding-top: 50px;
  margin: 0;  
  width: 100%; 
  height: auto;}


#content_opcion2 .col-opcion2,
#content_opcion2 .section-categorias,
#content_opcion2 .section-categorias .col-sc
 {padding: 0; margin: 0;}


#content_opcion2  #buscar{  padding: 0px; position: relative; float: left;}
#content_opcion2 .agregar{  
  padding: 4px; 
  position: relative; 
  float: right;}

#content-opcion2 .section-categorias .content-panel{margin: 0; padding: 0px;}

h3{
  padding: 0 0 20px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
}

.table {
  font-size: .85em;
  border: 1px solid rgba(181, 213, 144, 0.5);
  color: #666;
  border-collapse: collapse;
  margin: 0px;
  background: white;}

.table td, .table th {
  padding: .8em;
  border-bottom: 1px solid rgba(181, 213, 144, 0.5); }

.table th {
  background: #979cb3;
  color: #fff;
  font-weight: normal;
  text-align: initial; }

.table td {
  text-align: initial;
  height: auto; }
    
.table tr:hover {
  background: rgba(241, 169, 173, 0.3) }

.table .medida,
.table .op-estatus {
  height: auto;
  width: 150px;}


#content_opcion2 .modal-content{ 
  background: rgba(22, 22, 22, 0.9);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff;}

#content_opcion2 #crearModalC .modal-header button{color: #ffffff;}
#content_opcion2 .modal-footer{ 
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;}
#content_opcion2   .modal-footer button{
  background-color: rgb(150, 3, 10,.5);
  color: white;
  padding: 4px 4px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}
#content_opcion2  .modal-footer button:hover{ background-color: rgb(187, 128, 138);}



/*opcion 3*/
#content_opcion3 {
  padding: 0%;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin: 0;
  padding-bottom: 30px;
 }

#content_opcion3 { margin: 0; padding: 0;}
#content_opcion3 .content{ padding: 10px 0 0 0 ;
}
#content_opcion3 .content-panel {
    
    background: #ffffff;
    box-shadow: 0px 3px 2px #aab2bd;
    padding: 10px;}
#content_opcion3   .content-panel h4 { margin-left: 10px;}
  

/*Responsive*/
@media screen and (max-width: 600px) {
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:end;
  }
}