@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?10716440');
  src: url('../font/fontello.eot?10716440#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?10716440') format('woff2'),
       url('../font/fontello.woff?10716440') format('woff'),
       url('../font/fontello.ttf?10716440') format('truetype'),
       url('../font/fontello.svg?10716440#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10716440#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-menu-outline:before { content: '\e800'; } /* '' */
.icon-ok-outline:before { content: '\e801'; } /* '' */
.icon-cancel-outline:before { content: '\e802'; } /* '' */
.icon-plus-outline:before { content: '\e803'; } /* '' */
.icon-minus-outline:before { content: '\e804'; } /* '' */
.icon-tags:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-cog-outline:before { content: '\e807'; } /* '' */
.icon-left-open-outline:before { content: '\e808'; } /* '' */
.icon-right-open-outline:before { content: '\e809'; } /* '' */
.icon-briefcase:before { content: '\e80a'; } /* '' */
.icon-gift:before { content: '\e80b'; } /* '' */
.icon-check:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-book:before { content: '\e80e'; } /* '' */
.icon-search-outline:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-picture-outline:before { content: '\e813'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-basket:before { content: '\e815'; } /* '' */
.icon-user-1:before { content: '\f061'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-facebook-1:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-bandcamp:before { content: '\f32b'; } /* '' */