
.icon-menu-outline:before { content: '\e800'; } /* '' */
.icon-ok-outline:before { content: '\e801'; } /* '' */
.icon-cancel-outline:before { content: '\e802'; } /* '' */
.icon-plus-outline:before { content: '\e803'; } /* '' */
.icon-minus-outline:before { content: '\e804'; } /* '' */
.icon-tags:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-cog-outline:before { content: '\e807'; } /* '' */
.icon-left-open-outline:before { content: '\e808'; } /* '' */
.icon-right-open-outline:before { content: '\e809'; } /* '' */
.icon-briefcase:before { content: '\e80a'; } /* '' */
.icon-gift:before { content: '\e80b'; } /* '' */
.icon-check:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-book:before { content: '\e80e'; } /* '' */
.icon-search-outline:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-picture-outline:before { content: '\e813'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-basket:before { content: '\e815'; } /* '' */
.icon-user-1:before { content: '\f061'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-facebook-1:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-bandcamp:before { content: '\f32b'; } /* '' */