html{
    max-width: 99.897%;
}

body{
    background-image:linear-gradient(to bottom,rgb(255,255,255,.88) 0%,rgb(255,255,255,.88)),url('../img/fondo-body.jpg');
    font-family:  'Oswald', sans-serif;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
}

/*-----------Header-----------------*/
header {
    background: rgb(250, 248, 215);
    min-height: 50px;
    padding:10px 0px;
    max-width: 100%;
    margin: 0;
    background-image: url('../img/header3.jpg');
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: -150px;
    overflow: hidden;
}
.nav{
    padding:0px;
    margin-left: 12px;
    margin-right:0px;
    height: 50px;
    max-width: 100%;

}

.contenedor-enlace img{
    border-radius: 100%;
}

.row{
    margin: 0;
}
main  .row{
    margin: 0;
    padding-top: 5px;
}
.logo{
    font-family: 'Fontdiner Swanky',sans-serif;
    font-size: 32px;
    
}

.logo img{
    height: 80px;
    width: 130px;
}
header .menu{
    
   /*overflow: hidden;*/
    max-height:50px; 
    line-height: 1.1;
    font-size: 14px;
    font-weight: 600;
    left: 20%;

    
}
.menu a{
    text-decoration: none;
    background: #6271b3;
    display: block;
    color:#f7f3f0;
    padding: 0 25px;
    margin: 0;
    
}
.row-icons{
    
    padding: 0px;
    margin: 0px;
    width: 100%;
    
}
.col-icons{
    padding: 0px;
    width: 85%;
    
}
.menu .c-1{
    border-radius:25px 0px 0px;
    border: 1px solid #979cb3;
}
.menu .c-2{
    border-radius: 0;
    border-top:1px solid #979cb3;
    border-bottom:1px solid #979cb3;
}
.menu .c-3{
    border-radius: 0px 0px 25px;
    border: 1px solid #979cb3;
}
.menu a:hover{
    background: #979cb3;
}
.menu a.active{
    background: #9b030a;
}
.logo a{
    text-decoration: none;
    color:#f7f3f0;
}
 .icons{
    min-height: 10px;
    overflow: hidden;
    font-family:  'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    margin: 0;
    padding: 0;
    left:30%;
    
}

.icons a{
    text-decoration: none;
    display: block;
    color: antiquewhite;
    padding: 0px;
    width: 100%;
    margin: 0;
}

header .buscar form input[type="text"]{

    width: 100%;
    background: #ffffff;
    border: none;
    font-size: 14px;
    padding: 10px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px 0 0 20px;
    font-family:'oswald', sans-serif;
    margin-left: 5px;
}
header .buscar form button{
    
    background: #ffffff;
    border: none;
    width: 100%;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    border-radius: 0 20px 20px 0;
    cursor:pointer;
    color:#6d6d6d;
    
}
header .buscar 
{
    margin-top: 50px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    
}



header  .reg-col a{
    margin-bottom:0; 
    width: 100%;
    display: block;
    padding: 0 5px;
    overflow: hidden;
    height: 60px;
    margin-top: 25px;
    border-radius: 100px 0px;
    background-image:url('../img/boton_registro.png'); 
    text-decoration: none;
    color:#9b030a;
    font-family: 'oswald', sans-serif;
    font-weight: 600;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
header  .reg-col a:hover{
    background-image:url('../img/boton_registro_activo.png'); 
    color: #9b030a;
    font-size: 18px;
}
.extra-btn{
    margin-top: 150px;
    width: 100%;
}


.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 10;

}

.sticky-container a{
    color: white;
    text-decoration: none;

}


.sticky-container li:hover {
    margin-left: -75px;

    transition: all .1s ease;
}

.sticky-container li,
.sticky-container ul{
    list-style: none;
}

.sticky-container a  span{

    z-index: -5;
    height: 43px;
    width: 50px;
 
}

.sticky-container a i{
    font-size: 20px;
    margin-left: 8px;
    z-index: 100;
}

.sticky-container li{
    list-style-type:none;
    background:rgba(50,50,50, .5);
    color:#ffffff;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    cursor:pointer;
    line-height: 43px;
    border-radius: 25px;
}

.sticky-container .shop{
    background: #11c411;
}

.sticky-container .facebook{
    background: #3b5998;
}

.sticky-container .youtube{
    background: #bb0000;
}

.sticky-container .instagram{
    background: #125688;
}

.sticky-container .twitter{
    background: #55acee;
}


footer.container-fluid{
    height: 30px;
    margin: 0;
    margin-top: 20px;
    font-size: 12px;
    color: white;
    background: #9b030a;
    position: relative;
    bottom:0;
    display:block;
    width: 100%;
    line-height: 30px;
}


.breadcrumb{

    width: 100%;
    padding: 5px;
    margin-top:5px; 

}
main .bread-nav{
    background: white;
    height: 20px;
    padding: 0;
    margin-bottom: 8px;
    line-height: 5px;
    
}

.breadcrumb li{

    height: 100%;
}

.modal-content {
    background: linear-gradient(to bottom,rgba(0,0,0,.6) 0%, rgba(0,0,0,.6) 100%),url('../img/teleies_thumb3.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: rgba(245,222,179);
}

.help-modal{
    color: rgba(245,222,179);
    background:rgba(0,0,0,.5);
}





/*------------------------------Final del Header------------------------------*/
@media screen and (max-width:991px){
    header .menu{
        left: 15%;
    }

    .icons{
        left: 25%;
    }
}



@media screen and (max-width:768px){

    /*-- Contenedor principal del Header--*/

    header{
        background: none;
        padding: 0;
        margin-bottom: 2px;
        height: 50px;
    }
    
    .container{
        padding: 0;
    }

    .container .menu-oculto{
        width: 100%;
        
        margin: 0;
        padding: 0;
        margin-bottom: 1px;
    }
    
    .nav {
   
        height: 100vh;
        position: fixed;
        background: rgb(0,0,0,.85);
        z-index: 100;
        width: 75%;
        margin:0;
        padding: 0;
        justify-content: start;
        align-content: start;
        transform: translateX(-100%);
        transition: all .3s ease;
        overflow: auto;
        left: 0;
        top: 0;
        
    }

    .nav.active{
        transform: translateX(0%);
    }

    .nav .mini-menu{
        border-bottom: none;
    }

     .icons{
        font-family:  'Oswald', sans-serif;
        font-size: 14px;
        font-weight: 400;
        left: 0;
        
    }

    

    .mini-menu a{
        text-decoration: none;
    }

    .nav .mini-menu a{
        padding: 20px;
        color:#fff;
    }
    
    /*-- Final de contenedor principal del Header--*/
    
    /*-- Barra de navegación--*/
    
    header .btn-menu{
        display: block;
        border: 1px solid #9b030a;
        padding: 0px 10px;
        font-size:30px;
        background: linear-gradient(to bottom,#9b030a 100%,#d30913 0%);
        height: 50px;
        line-height: 50px;
        border-radius:3px;
        cursor: pointer;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        max-height: 50px;
       width: 100%;
       position: fixed;
        top: 0;
        left: 0;
        z-index: 15;

    }

    

    header .btn-menu a{
       color:#ffffff;
       height: 100%;
        margin: 0;
       padding: 0px 10px;
    }
    

    .btn-menu a{
        font-size: 25px;
    }
     
    
    header .btn-menu  a:hover {
        background: #c0040e;
        text-decoration: none;
    }
    
    .menu a{
    text-decoration: none;
    display: block;
    color:#ffffff;
    padding: 0 30px;
    margin: 0;
    background: none;
    border: 0;
    height: 80px;
        
    
    }

    header .menu{
        left: 0;
       min-height: 240px;
    }

    .menu .c-1{
        border-radius:0;
        border: 0;


    }
    
    .menu .c-2{
        border-radius: 0;
        border: 0;

    }
    .menu .c-3{
        border-radius: 0;
        border: 0;

    }

    
    /*-- Fin de la Barra de navegación--*/

    .nav a:hover{
        color: #3d3c3c;
        background: #fff;
        border-left: 4px solid #9b030a;

    }
    

        /*--Ubicación de los componentes en el orden deseado--*/
        
        .mini-menu:nth-child(2){order:1;} /* Buscador*/
        .mini-menu:nth-child(3){order:3;}/*Registrate*/
        .mini-menu:nth-child(4){order:4;}
        .mini-menu:nth-child(5){order:2;}
        .mini-menu:nth-child(6){order:5;}

        /*--Fin Ubicación de los componentes en el orden deseado--*/



    /*-- Fin Componentes de la Barra de navegación --*/


    /*-Modificacion nueva ojo!!-*/

    header .fondo-enlace{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        cursor: pointer;
        background: rgb(0,0,0,.5);
        z-index:99;
        display: none;
    }

    header .fondo-enlace.active{
        display: block;
    }  


    .mini-menu{
        padding: 0;
    }
    header .buscar-1 form input[type="text"]{
        width: 100%;
        background: #ffffff;
        border: none;
        font-size: 14px;
        padding:0 10px;
        height: 50px;
        line-height: 50px;
        font-family:'oswald', sans-serif;
        margin: 0;
    }
    header .buscar-1 form button{
        
        background: #ffffff;
        border: none;
        width: 100%;
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
        cursor:pointer;
        color:#6d6d6d;
        
    }

    header .buscar-1 form button:hover{
        background : rgb(255,255,255,.9);
    }
}